JWT_SECRET=CHANGE_ME
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
HTTP_PORT=8180
HTTPS_PORT=8443
TURN_PASSWORD=intercom2024
TURN_USER=intercom
PUBLIC_DOMAIN=
MEDIASOUP_ANNOUNCED_IPS=
EXTERNAL_IP=
LOCAL_IP=
